/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: black;
    font-family: 'VT323', monospace;
    color: white;
    overflow-x: hidden;
}

/* BACKGROUND CANVAS */
#bg-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
}

/* TITLE */
#music-title {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 46px;
    font-family: "Press Start 2P", monospace;
    z-index: 5;
    position: relative;
    color: #00ffe0;
    text-shadow: 0px 0px 8px #00ffe0;
}

/* ULA AVATAR */
#ula-avatar {
    position: fixed;
    top: 120px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    text-align: center;
}

#ula-img {
    width: 120px;
    image-rendering: pixelated;
}

#ula-kaomoji {
    font-size: 32px;
    margin-top: -10px;
    transition: 0.3s ease;
}

/* TIMELINE */
#timeline {
    width: 90%;
    max-width: 600px;
    margin: 220px auto 100px auto;
    display: flex;
    flex-direction: column;
    gap: 70px;
    z-index: 5;
    position: relative;
}

.node {
    position: relative;
    padding-left: 40px;
}

.node .circle {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #00fff2;
    box-shadow: 0 0 12px #00fff2;
    position: absolute;
    left: 0;
    top: 5px;
}

.node h2 {
    font-size: 28px;
    color: #ffeea6;
    text-shadow: 0 0 6px #ffeea6;
}

.node p {
    font-size: 20px;
    margin-top: 5px;
}

.node a
